{% extends 'base.html' %}
{% block content %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'investigation/css/investigation.css' %}" type="text/css"/>
<script type="text/javascript" src="{% static 'investigation/js/investigation.js' %}"></script>
{% if has_inter %}
<div id="container">
	<form method = "POST" action="../GO/">
	{% csrf_token %}
	<input type="hidden" id ="gene_list" name="gene_list" />
	<input type="hidden" id = "exp" name = "exp" />
	{% if intersection %}
	<div id = "overlap">
	Number of overlaps: {{ intersection|length}}</br>
	<div class="hiddenDiv" style="display:none;">{{target_QTL_ins.exp}}</div>
	<div>
	{% for inter in intersection %}
		{{ inter }}
	{% endfor %}
	</br>
	</div>
	<div>
	Multiple testing
	<input type="checkbox" name = "multiple_testing" value ="bonferroni" />Bonferroni
	<input type="checkbox" name = "multiple_testing" value ="sidak" />Sidak
	<input type="checkbox" name = "multiple_testing" value ="holm" />Holm
	<input type="checkbox" name = "multiple_testing" value ="fdr" />FDR
	| control Family-wise alpha or False discovery rate at (e.g. 0.05)
	<input type = "text" name = "alpha" />
	</div>
	<button class = "go_analysis">GO enrichment analysis</button>
	</div>
	{% else %}
	<div id ="overlap">
	None of overlaps were found.
	</div>
	{% endif %}
	<br/>
	<div id ="target">
	{% if target_QTL_ins %}
		<div class = "target_sub">
	    	Co-regulated genes for target_QTL: {{ target_QTL_ins.id }} Experiment:{{ target_QTL_ins.exp }} Transcript: {{ target_QTL_ins.target_transcript }} Reference id: {{ target_QTL_ins.target_ref }} Marker: {{ target_QTL_ins.target_marker }} 1-LOD support interval: {{ target_QTL_ins.target_lod_si }}</br>
			Number of co-regulated genes for target_QTL: {{ target_QTL_ins.target_trans_list|length }}</br>
			<div class="hiddenDiv" style="display:none;">{{target_QTL_ins.exp}}</div>
			<div>
			{% for gene in target_QTL_ins.target_trans_list %}
				{{ gene }}
			{% endfor %}
			<br />
			</div>
			<div>
				Multiple testing
				<input type="checkbox" name = "multiple_testing" value ="bonferroni" />Bonferroni
				<input type="checkbox" name = "multiple_testing" value ="sidak" />Sidak
				<input type="checkbox" name = "multiple_testing" value ="holm" />Holm
				<input type="checkbox" name = "multiple_testing" value ="fdr" />FDR
				| control Family-wise alpha or False discovery rate at (e.g. 0.05)
				<input type = "text" name = "alpha" />
				</div>
			<button class = "go_analysis">GO enrichment analysis</button>
		</div>
	{% endif %}
	{% if target_gene_list%}
		<div class = "target_sub">
			Number of co-regulated genes for target_QTL: {{ target_gene_list|length }}</br>
			Co-regulated genes for target_QTL: </br>
			<div class="hiddenDiv" style="display:none;">{{exp}}</div>
			<div>
			{% for gene in target_gene_list %}
				{{ gene }}
			{% endfor %}
			<br />
			</div>
			<div>
				Multiple testing
				<input type="checkbox" name = "multiple_testing" value ="bonferroni" />Bonferroni
				<input type="checkbox" name = "multiple_testing" value ="sidak" />Sidak
				<input type="checkbox" name = "multiple_testing" value ="holm" />Holm
				<input type="checkbox" name = "multiple_testing" value ="fdr" />FDR
				| control Family-wise alpha or False discovery rate at (e.g. 0.05)
				<input type = "text" name = "alpha" />
				</div>
			<button class = "go_analysis">GO enrichment analysis</button>
		</div>
	{% endif %}
	</div>
	<br/>
	<div id = "Query">
	{% if query_QTL_ins_list %}
		{% for query_QTL_ins in query_QTL_ins_list %}
			<div class="query_sub">
			Co-regulated genes for query_QTL:{{ query_QTL_ins.id }} Experiment: {{query_QTL_ins.exp}} Transcript: {{ query_QTL_ins.query_transcript }} Reference id: {{ query_QTL_ins.query_ref }} Marker: {{ query_QTL_ins.query_marker }} 1-LOD support interval: {{ query_QTL_ins.query_lod_si }}</br>
			Number of co_regulated genes for query_QTL: {{ query_QTL_ins.query_trans_list|length }}</br>
			<div class="hiddenDiv" style="display:none;">{{query_QTL_ins.exp}}</div>
			<div>
			{% for gene in query_QTL_ins.query_trans_list %}
				{{ gene }}
			{% endfor %}
			<br/>
			</div>
			<div>
				Multiple testing
				<input type="checkbox" name = "multiple_testing" value ="bonferroni" />Bonferroni
				<input type="checkbox" name = "multiple_testing" value ="sidak" />Sidak
				<input type="checkbox" name = "multiple_testing" value ="holm" />Holm
				<input type="checkbox" name = "multiple_testing" value ="fdr" />FDR
				| control Family-wise alpha or False discovery rate at (e.g. 0.05)
				<input type = "text" name = "alpha" />
			</div>
			<button class = "go_analysis">GO enrichment analysis</button>
			</div>	
		{% endfor %}
	{% endif %}
	{% if query_gene_list %}
		<div class="query_sub">
		Number of co_regulated genes for query_QTL: {{ query_gene_list|length }}</br>
		Co-regulated genes for query_QTL:</br>
		<div class="hiddenDiv" style="display:none;">{{exp}}</div>
		<div>
		{% for gene in query_gene_list %}
			{{ gene }} 
		{% endfor %}
		<br/>
		</div>
		<div>
			Multiple testing
			<input type="checkbox" name = "multiple_testing" value ="bonferroni" />Bonferroni
			<input type="checkbox" name = "multiple_testing" value ="sidak" />Sidak
			<input type="checkbox" name = "multiple_testing" value ="holm" />Holm
			<input type="checkbox" name = "multiple_testing" value ="fdr" />FDR
			| control Family-wise alpha or False discovery rate at (e.g. 0.05)
			<input type = "text" name = "alpha" />
		</div>
		<button class = "go_analysis">GO enrichment analysis</button>
		</div>	
	{% endif %}
	</div>
	</form>
</div>
{% elif target_QTL_ins %}
<div id="container">
	<form method = "POST" action="../GO/">
	{% csrf_token %}
	<input type="hidden" id ="gene_list" name="gene_list" />
	<input type="hidden" id = "exp" name = "exp" />
	<div class = "target_sub">
    	Co-regulated genes for target_QTL: {{ target_QTL_ins.id }} Experiment:{{ target_QTL_ins.exp }} Transcript: {{ target_QTL_ins.target_transcript }} Reference id: {{ target_QTL_ins.target_ref }} Marker: {{ target_QTL_ins.target_marker }} 1-LOD support interval: {{ target_QTL_ins.target_lod_si }}</br>
		Number of co-regulated genes for target_QTL: {{ target_QTL_ins.target_trans_list|length }}</br>
		<div class="hiddenDiv" style="display:none;">{{target_QTL_ins.exp}}</div>
		<div>
		{% for gene in target_QTL_ins.target_trans_list %}
			{{ gene }} 
		{% endfor %}
		<br />
		</div>
		<div>
			Multiple testing
			<input type="checkbox" name = "multiple_testing" value ="bonferroni" />Bonferroni
			<input type="checkbox" name = "multiple_testing" value ="sidak" />Sidak
			<input type="checkbox" name = "multiple_testing" value ="holm" />Holm
			<input type="checkbox" name = "multiple_testing" value ="fdr" />FDR
			| control Family-wise alpha or False discovery rate at (e.g. 0.05)
			<input type = "text" name = "alpha" />
		</div>
		<button class = "go_analysis">GO enrichment analysis</button>
	</div>
	</form>
</div>
{% elif target_candidates %}

{% if candidates %}
<div id = 'overlap_candidates' class='candidate_genes'>
Overlap candidates ({{ candidates|length}}):</br>
{% for candidate in candidates %}
	{{ candidate }}
{% endfor %}
</div>
{% endif %}

<div id = 'target_candidates' class='candidate_genes'>
Target candidate genes ({{ target_candidates|length}}) {% if lod_si %} 1.5 LOD support interval {{ lod_si }}{% endif %}: </br>

{% for candidate in target_candidates %}
	{{ candidate }}
{% endfor %}
</div>

{% if query_candidates %}
<div id = 'query_candidates' class='candidate_genes'>
Query candidate genes ({{ query_candidates|length}}):</br>
{% for candidate in query_candidates %}
	{{ candidate }}
{% endfor %}
</div>
{% endif %}

{% else %}

{% if tasks %}
{% if form.errors %}
        {{ form.errors }}
{% endif %}

<div id = 'invesigation'>
<table>
<tr><th>QTL id</th><th>Experiment</th><th>Probe</th><th>Transcript</th><th>Reference id</th><th>Marker</th><th>1 LOD support interval</th></tr>
{% for task in tasks %}
	<tr><td>{{ task.id }}</td><td>{{ task.experiment_id }}</td><td>{{ task.probe_id }}</td><td>{{ task.transcript_id }}</td><td>{{ task.ref_id }}</td><td>{{ task.marker_id }}</td><td>{{ task.lod_si }}</td></tr>
{% endfor %}
</table>
</div>
<div id = "co_regulation">
<h1> Co-regulated genes analysis</h1>
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class = 'co_regulation_sub'>
			<h2> Target co-regulated gene list for a QTL</h2>
			<div>Target QTL:<select class = "qtl_analysis" name = "target_sel_qtl">{% for task in tasks %}<option value =  "{{ task.id }}">QTL {{ task.id }}</option>{% endfor %}</select></div>
			<div>-logP threshold:{{ form.thld }}</div>
			<input type="submit" id="regulation_single_submit" class="btn_analysis" value="co-regulation analysis in a single experiment" />
		</div>
		<div class = 'co_regulation_sub'>
			<h2> Query gene list</h2>
			<div>Query QTL:
			{% for task in tasks %}
			<input type = "checkbox" name = "query_sel_qtl" value="{{ task.id }}">{{task.id}}
			{% endfor %}
			</div>
			<div>or compare with your gene list: {{ form.gene_list }}</div>
			<div>or a file contains: {{ form.gene_list_file }} </div>	
		</div>
		<input type="submit" id="regulation_multiple_submit" class="btn_analysis" value="co-regulation analysis across multiple experiments" />
		
	</form>
</div>
<div id = "candidate_genes">
<h1> Candidate genes selection</h1>
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class = 'candidates_sub'>
			<h2> Target candidate genes underlying QTL</h2>
			<div>Target QTL:<select class = "qtl_analysis" name = "sel_qtl">{% for task in tasks %}<option value =  "{{ task.id }}">QTL {{ task.id }}</option>{% endfor %}</select></div>
			<input type="submit" id="candidates_submit" class="btn_analysis" value="candidate genes" />
		</div>
		<div class = 'candidates_sub'>
			<h2> Query gene list</h2>
			<div>compare with your gene list: {{ form1.qtl_gene_list }}</div>
			<div>or a file contains: {{ form1.qtl_gene_list_file }} </div>
		</div>
		<input type="submit" id="candidates_submit" class="btn_analysis" value="candidate genes comparision" />
		
</form>
</div>
{% else %}

{% if form.errors %}
        {{ form.errors }}
{% endif %}
<div id = "co_regulation">
<h1> Co-regulated genes analysis</h1>
<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
		<div> Target gene list</div>
		<div>Experiment:{{ form.exp }}</div>
		<div>-logP threshold: {{ form.thld }}</div>
		<div>QTL/marker: {{ form.marker }}</div>
		<div> Query gene list</div>
		<div>compare with your gene list: {{ form.gene_list }}</div>
		<div>or a file contains: {{ form.gene_list_file }} </div>
			
		<input type="submit" id="regulation_submit" class="btn_analysis" value="co-regulation analysis" />
		
</form>
</div>
<div id = "candidate_genes">
<h1> Candidate genes selection</h1>
<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
		<div> Target gene list</div>
		<div>Experiment:{{ form.exp }}</div>
		<div>Genome region (i.e.chr2:10000-20000 or 2:10000-20000): {{ form1.region }}</div>
		<div> Query gene list</div>
		<div>compare with your gene list: {{ form1.qtl_gene_list }}</div>
		<div>or a file contains: {{ form1.qtl_gene_list_file }} </div>
			
		<input type="submit" id="candidates_submit" class="btn_analysis" value="candidate genes selection" />
		
</form>
</div>

{% endif %}
{% endif %}

{% endblock %}