<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'cistrans/css/style.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'cistrans/css/jquery-ui.min.css' %}" type="text/css"/>
<script type="text/javascript" src="{% static 'cistrans/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'cistrans/js/jquery-ui.min.js' %}"></script>
<title>eQTL visualization and investigation</title>
</head>
<body>

<header>
<div>
	<div id="logo" style="width:226px;height:35px;float:left;"><img src="{% static 'cistrans/image/wur.png' %}" style="max-width:100%;max-height:100%;"></div>
	<div id = "user" style= "position:absolute;right:100px;display:inline-block;float:left;">
		<a href="../register/" style="font-size: 18px;font-family:'PT Sans', Helvetica, Arial, sans-serif;color:#fff;">Register</a>
		{% if user.username %}
			<a href="../logout/" style="font-size: 18px;font-family:'PT Sans', Helvetica, Arial, sans-serif;color:#fff;" >Log out</a>
		{% else %}
			<a href="../login/" style="font-size: 18px;font-family:'PT Sans', Helvetica, Arial, sans-serif;color:#fff;">Login</a>
		{% endif %}
	</div>
</div>
<nav><ul>
<li> <a href = "../about/">About</a></li>
<li> <a href = "../documentation/">Documentation</a></li>
<li> <a href = "../browser/">Browser</a></li>
<li> <a href = "../visualization/">Visualization</a></li>
<li> <a href = "../investigation">Investigation</a></li>
<li> <a href = "../upload/">Upload</a></li>
</ul></nav>

</header> <!-- /#banner -->


<div id ="nav">
<div class = "topbar">
<div class = "topbar-wrapper">
<div class = "search-container">
	
</div>
</div>
</div>
</div>

{% block content %} {% endblock %}
</body>
</html>

