{% extends 'base.html' %}
{% block content %}

eQTL visualization and investigation is to expand Arabidopsis QTL workbench towards other model species e.g. Caenorhabditiselegans,thereby, transforming it to so-called generalized integrative QTL workbench by integrating QTL datasets e.g. from WormQTL achieve (Snoek, 2012). 
Moreover, it looks for the possible extensions of the current QTL analysis methods to help on understanding regulatory mechanism at transcriptional and or molecular level. 

<h1>Objective</h1>
<ul><li>Developing a generalized web database for visualization and analysis of omics-QTL mapping output allow verified users to upload QTL datasets via a generalized upload module</li>
 <li>accompanied with an admin data management module to maintain data consistency and to ensure the atomicity of transactions</li>
 <li>adapt the database model and visualization tools to accept QTL datasets of other species</li>
 <li>expand the existing web portal towards other model species e.g. C.elegansand S.lycopersicum</li> 
 <li>optimization of platform performance </li>
</ul>
<ul>
<li>Dissection of gene regulatory network by means of genetical genomics interpret eQTL mapping output</li>
<li>identify co-expression co regulation (CECR) modules or clusters</li>
<li>Prioritization of candidate genes underlying eQTL based on functional gene network information</li>
<li>search motif(s) significantly associated with genes linked to one or more GO terms</li>
 
</ul>

{% endblock %}